<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--<mvc:annotation-driven>-->
        <!--<mvc:argument-resolvers>-->
            <!--<bean-->
                    <!--class="com.frigga.api.auth.TokenArgumentResolver"/>-->
        <!--</mvc:argument-resolvers>-->
    <!--</mvc:annotation-driven>-->

    <!-- AOP业务逻辑方法调用切面 -->
    <aop:aspectj-autoproxy proxy-target-class="true"/>

    <!--<context:component-scan base-package="com.frigga.api.handler"/>-->
    <!--<context:component-scan base-package="com.frigga.api.service"/>-->
    <!--<context:component-scan base-package="com.frigga.butler.security"/>-->
    <context:component-scan base-package="com.poseidon.api.service;com.poseidon.base.service;">
        <context:exclude-filter type="annotation"
                                expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>





    <!-- DataSource configuration for the jdbc connection pool -->
    <import resource="datasource-config.xml" />

    <!-- 数据源 会话工厂 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="configLocation" value="classpath:mybatis-config.xml" />
        <property name="dataSource" ref="dataSource" />
    </bean>

    <!-- 数据源 映射 -->
    <!--<context:component-scan base-package="com.frigga.mapper"/>-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
        <!--可用,或者;分割多个扫描的包-->
        <property name="basePackage" value="com.poseidon.mapper;com.poseidon.mapper.ext;com.poseidon.api.mapper"/>
    </bean>

    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource">
            <ref bean="dataSource"/>
        </property>
    </bean>

    <!-- 事务规则 -->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="find*" read-only="true"/>
            <tx:method name="load*" read-only="true"/>
            <tx:method name="search*" read-only="true"/>
            <tx:method name="query*" read-only="true"/>
            <tx:method name="get*" read-only="true"/>
            <tx:method name="count*" read-only="true"/>
            <tx:method name="list*" read-only="true"/>
            <tx:method name="put*" propagation="REQUIRED" rollback-for="Exception"/>
            <tx:method name="save*" propagation="REQUIRED" rollback-for="Exception"/>
            <tx:method name="add*" propagation="REQUIRED" rollback-for="Exception"/>
            <tx:method name="create*" propagation="REQUIRED" rollback-for="Exception"/>
            <tx:method name="insert*" propagation="REQUIRED" rollback-for="Exception"/>
            <tx:method name="update*" propagation="REQUIRED" rollback-for="Exception"/>
            <tx:method name="merge*" propagation="REQUIRED" rollback-for="Exception"/>
            <tx:method name="del*" propagation="REQUIRED" rollback-for="Exception"/>
            <tx:method name="remove*" propagation="REQUIRED" rollback-for="Exception"/>
            <tx:method name="*"/>
        </tx:attributes>
    </tx:advice>

    <!-- 配置方式开启事务 -->
    <aop:config proxy-target-class="true" expose-proxy="true">
        <aop:pointcut id="serviceOperation"
                      expression="execution(* com.poseidon.api.service.*.*(..))"/>
        <aop:advisor pointcut-ref="serviceOperation" advice-ref="txAdvice"/>
    </aop:config>
    <!--<import resource="spring-activemq.xml" />-->

</beans>